<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.shareinfo.mapper.ArticleMapper">


    <sql id="articleBase">
        select aid, title, content, label, createTime, viewCount, commentCount, likeCount, uid from t_article
    </sql>


    <select id="selectAllArticle" resultType="Article">
        <include refid="articleBase"/> limit #{offset},#{size}
    </select>

    <select id="totalCount" resultType="integer">
        select count(1) from t_article
    </select>


</mapper>