<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.shareinfo.mapper.ArticleMapper">


    <sql id="articleBase">
        select aid, title, content, label, createTime, viewCount, commentCount, likeCount, uid from t_article
    </sql>


    <select id="selectAllArticle" resultType="Article">
        <include refid="articleBase"/>
        <where>
            <if test="aid != null  and aid != ''">and aid=#{aid}</if>
            <if test="title != null  and title != ''">and title=#{title}</if>
            <if test="content != null  and content != ''">and content=#{content}</if>
            <if test="label != null  and label != ''">and label=#{label}</if>
            <if test="createTime != null  and createTime != ''">and createTime=#{createTime}</if>
            <if test="viewCount != null  and viewCount != ''">and viewCount=#{viewCount}</if>
            <if test="commentCount != null  and commentCount != ''">and commentCount=#{commentCount}</if>
            <if test="likeCount != null  and likeCount != ''">and likeCount=#{likeCount}</if>
            <if test="uid != null  and uid != ''">and uid=#{uid}</if>
        </where>
    </select>

    <select id="totalCount" resultType="integer">
        select count(1) from t_article
    </select>


</mapper>