<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htu.shareinfo.mapper.UserMapper">


    <select id="login" resultType="User">
        select * from t_user where studentId=#{studentId} and password=#{password}
    </select>

    <select id="findByUid" resultType="User">
        select * from t_user where uid=#{uid}
    </select>






</mapper>